// Fonts
@headerFont: 'Tahoma', sans-serif;
@addFont: 'Arctikascript', sans-serif;
@mainFont: 'Akrobat-Regular', sans-serif;

// Text color
@bennerColor: #de2c2f;
@mainColor: #004734;
@promoColor: #de4814;
@addColor: #fff;
@itemBtnDescriptColor: #b83b11;
@itemPromoPriceColor: #d8481c;
@itemHeaderColor: #000;
@itemSocialColor: #828384;
@feedbackInputColor: #808286;

// Size
@mainFontSize: 21px;
@mainFontWeight: 400;

// Background color
@headerBackground: #749c8d;
@bannerBackground: #f0f0ea;
@promoBackground: #beeadc;
@itemBackground: #dfe4ec;
@itemBtnBackground: #3ab16f;
@socialBackground: #aeaeae;
@feedbackBackground: #80c9b0;
@feedbackBtnBackground: #de0d08;
@footerBackground: #a4a4a5;

// Adaptivity
@desktopWidth: 1280px;
@smDesktopWidth: 980px;
@tableWidth: 768px;
@phoneWidth: 480px;
@smPhoneWidth: 320px;
